.my-overflow {
    overflow: inherit !important;
}

.rt-td {
    z-index: 0 !important;
    overflow: visible !important;
    position: relative;
}

.Select-menu-outer {
    position: relative !important;
    z-index: 9999;
}

.Select-menu {
    position: fixed !important;
    width: 440px !important;
    margin: 1px;
}

.css-15k3avv {
    position: relative !important;
}

.modal-lg {
    width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-sm {
    width: 40%;
    max-height: 80%;
    overflow: auto;
}

/*Custom Tab*/
.tab {
    flex-wrap: wrap;
    flex: 1 1 auto
}

.tab-list {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    text-align: center;
}

.tab-list-item {
    list-style: none;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    padding: 1rem 2rem;
}

.tab-list-active {
    color: #ffffff;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    border-bottom-color: #000000;
}